h1{
    font-family: 'Patrick Hand', cursive;
}
p{
    line-height: 1.5;
    font-family: 'Tenali Ramakrishna',sans-serif;
}
h1{
    font-size: 4.0em;
    text-align: center;
}
p{
    font-size: 2.0em;
}
span::first-letter{
    font-size: 2em;

}