img{
    float: left;
    height: 30%;
    width: 30%;
    margin:1.66%;
}
p{
    margin-left: 1.66%;
    font-size: 35px;
    color:lightslategray;
    text-transform: uppercase;
    font-family: Rokkitt;
    border-bottom: 3px solid lightslategrey;
    padding-bottom: 20px;
    width: 96.68%;
}