<h1>Login</h1>
<form action="/login" method="post">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Register</button>
</form>
<a href="/register">Register</a>