<%- include ('partials/header') %>
<div class="text-center">
  <h1 class="display-3 text-white">Welcome to Yelpcamp Homepage</h1>
  <a class="btn btn-info btn-lg" href="campground">
    View Campgrounds
  </a>
</div>
<%- include ('partials/footer') %>
