<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Camping Blog App</title>
    <link rel="stylesheet" type="text/css" href="/CSS/main.css" />
  </head>

  <body>
    <nav class="navbar navbar-light bg-info justify-content-between">
      <a class="navbar-brand ml-3 text-white" href="/campground">Yelpcamp</a>
      <div class="mr-3">
        <%if(!currentUser){%>
        <a class="btn btn-default text-white" href="/login">Login</a>
        <a class="btn btn-default text-white" href="/register">Sign Up</a>
        <% } else { %>
        <a class="text-white" ref="#"
          >Signed in as <%= currentUser.username %></a
        >
        <a class="btn btn-default text-white" href="/logout">Logout</a>
        <% } %>
      </div>
    </nav>
 
